{% extends 'base.html' %}

{% block content %}
<h1>Upload your input files.</h1>

<form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
    <label for="csv_file">Upload Mail Data CSV:</label>
    <input type="file" name="csv_file" id="csv_file" required><br><br>
    
    <label for="body_file">Upload Mail Body Text File:</label>
    <input type="file" name="body_file" id="body_file" required><br><br>
    <input type="submit" value="Upload Files">
</form>
{% endblock %}