{% extends 'base.html' %}

{% block content %}
<h1>Processed Emails</h1>

{% if is_send %}
<form action="{{ url_for('cancel_sending_emails') }}" method="get">
    <button class='right' style="height:40px;width:130px">Cancel Sending Emails</button></a>
</form>
{% endif %}

<table border="1" style="width: 100%;">
    <tr>
        <th>Email</th>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
        <th>Subject</th>
        <th>Body</th>
        {% if is_send %}
        <th>Send Status</th>
        {% endif %}
        <th>View Count</th>
    </tr>
    {% for email in emails %}
        <tr>
            <td>{{ email.email }}</td>
            {% for header in headers %}
                <td>{{ email[header] }}</td>
            {% endfor %}
            <td>
                <div style="min-width: 200px;">
                    {{ email.subject }}
                </div>
            </td>
            <td>
                <div style="width: 80%; min-width: 500px; word-wrap: break-word; text-align: left;">
                    {{ email.body_view|safe }}
                </div>
            </td>
            {% if is_send %}
            <td id="send_{{ email.id }}"></td>
            {% endif %}
            <td id="count_{{ email.id }}"></td>
        </tr>
    {% endfor %}
</table>

<meta id="store" data-is_send="{{ is_send }}" data-num_emails="{{ emails|length }}">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $("a#test").click(function(){
        $.get("/update_count", function(data){});
    });

    function update_count(){
        $.get("/update_count", function(data){
            for (let i = 0; i < data.length; i++) {
                $("#count_" + i.toString()).text(data[i]);
            }
        });
    }
    update_count()
    var interval_count = setInterval(function() {
        update_count()
    }, 15000); // Updates every 15s

    if ($("#store").data("is_send") == "True") {
        var INTERVAL = 62000; // This is in milliseconds
        var EMAILS_PER_INTERVAL = 20;
        var prv_outer = 0;
        var prv_inner = 0;
        var email_length = $("#store").data("num_emails")
        var outer_interval_send = null;
        var inner_interval_send = null;

        function update_send_status(){
            $.get("/update_send_status", function(data){
                for (let i = 0; i < data.length; i++) {
                    $("#send_" + i.toString()).text(data[i]);
                }
                if (data.length >= email_length) {
                    clearInterval(outer_interval_send);
                    clearInterval(inner_interval_send);
                } else if (data.length >= prv_inner + EMAILS_PER_INTERVAL) {
                    clearInterval(inner_interval_send);
                    prv_inner = data.length;
                }
            });
        }
        // Initial run
        inner_interval_send = setInterval(function() {
            update_send_status()
        }, 2000);// Updates every 2s

        outer_interval_send = setInterval(function() {
            if (prv_outer == prv_inner) { // No change after an interval
                clearInterval(outer_interval_send);
                clearInterval(inner_interval_send);
            } else {
                prv_outer = prv_inner;
                clearInterval(inner_interval_send);
                inner_interval_send = setInterval(function() {
                    update_send_status()
                }, 2000);// Updates every 2s
            }
        }, INTERVAL);
    }
</script>

<h5>Note: if the View Count displays 'error', it is possible that you have clicked 'Check sent email view counts' before sending the emails. Please ensure that you have sent the emails first.</h5>

<h2>Report</h2>
{% if report %}
    <pre>{{ report }}</pre>
{% else %}
    <p>No report available.</p>
{% endif %}
<a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}